{% extends "layout.html" %}
{% block title %}Draft{% endblock %}
{% block body %}
<h1>Draft</h1>
<table border=1>
<tr>
    <td></td>
    {% for i in range(1,11) %}
    <td><b>Pick {{ i }}</b></td>
    {% endfor %}
</tr>
<tr>
{% for i in range(24) %}
<td><b>Rd. {{ i+1 }}</b></td>
{% for j in range(10) %}
{% set player = players[(i * 10) + j] %}
{% set team = teams[player.team_id-1].name %}

{% if clazz =='position' %}
    {% set class_id = player.position %}
{% else %}
    {% set class_id = team %}
{% endif %}
<td class="{{ class_id }}" onclick="location.href='/player/{{ player.player_id }}'"><b>{{ player.first_name }} {{ player.last_name }}</b><br>{{ player.nhl_team }} - {{ player.position }}<br>{{ team }}</td>
{% if loop.index % 10 == 0 %}
</tr>
<tr>
{% endif %}
{% endfor %}
</tr>
{% endfor %}

    
</tr>
</table>
{% endblock %}